body {
    background: var(--light-cream, #FEF2E8);
    margin: 0%;
}

#slogan {
    color: var(--deep-blue, #023A6B);
    font-family: 'Eczar', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-left: 240px;
    padding-top: 160px;
    width: 792px;
}

#word {
    color: #FF7733;
}

.product-list {
    display: flex;
    width: 960px;
    align-items: flex-start;
    gap: 48px;
    padding-left: 240px;
    padding-top: 64px;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.navbar {
    display: flex;
    padding: 24px 32px;
    justify-content: space-between;
    align-items: center;
    background: var(--white, #FFF);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.cart {
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 16px;
}

.nav,
.cart-text {
    color: #023A6B;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.title {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.product_name {
    color: var(--deep-blue, #023A6B);
    font-family: 'Eczar', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.price {
    display: flex;
    padding: 2px 6px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background: var(--orange, #F73);
    color: var(--white, #FFF);
    font-family: 'Eczar', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.additional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.radio_btn_group {
    display: flex;
    width: 288px;
    align-items: flex-start;
    gap: 24px;
}

.radio_btn {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.product-text {
    color: var(--deep-blue, #023A6B);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.bottom {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.btn {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text {
    color: var(--deep-blue, #023A6B);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 64px;
    border: 2px solid var(--yellow, #FFBD5C);
}

.pics {
    height: 220px;
    align-self: stretch;
}

.stamp {
    display: flex;
    width: 80px;
    height: 80px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.container {
    display: flex;
    align-items: center;
}

.container input[type="radio"],
.container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
}

.container input[type="radio"]:checked+.checkmark,
.container input[type="checkbox"]:checked+.custom_checkmark {
    background-color: #FF7733;
}

.checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #FF7733;
    border-radius: 50%;
    display: none;
}

.container input[type="radio"]:checked+.checkmark::after {
    display: block;
}

.checkbox {
    display: flex;
    align-items: center;
}

.custom_checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
}

@media (max-width: 375px) {

    /* Mobile layout styles for screens with a maximum width of 375px */
    .navbar {
        display: flex;
        padding: 52px 24px 16px 24px;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        display: flex;
        width: 154px;
        height: 34px;
        justify-content: center;
        align-items: flex-start;
        gap: 5.31px;
        flex-shrink: 0;
    }

    .cart-text {
        display: none;
    }

    #slogan {
        font-size: 24px;
        line-height: 130%;
        padding-top: 32px;
        padding-left: 24px;
        width: 327px;
    }

    .product-list {
        display: flex;
        width: 327px;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        padding-left: 24px;
        padding-top: 40px;
        padding-bottom: 48px;
        padding-right: 24px;
    }

    .product-item {
        display: flex;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }

    .product_name {
        font-size: 24px;
    }

}