body {
    background: var(--light-cream, #FEF2E8);
    margin: 0%;
}

.navbar {
    display: flex;
    padding: 24px 32px;
    justify-content: space-between;
    align-items: center;
    background: var(--white, #FFF);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

#slogan {
    color: var(--deep-blue, #023A6B);
    font-family: 'Eczar', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-top: 64px;
    margin-bottom: 64px;
}

#word {
    color: #FF7733;
}

.product-list {
    display: flex;
    align-items: flex-start;
    gap: 48px;
    flex-wrap: wrap;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}

.product-item__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}



#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.cart {
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 16px;
}

.nav,
.cart-text {
    color: #023A6B;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
}



.product-item__title {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.product-item__name {
    color: var(--deep-blue, #023A6B);
    font-family: 'Eczar', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.product-item__price {
    display: flex;
    padding: 2px 6px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 16px;
    background: var(--orange, #F73);
    color: var(--white, #FFF);
    font-family: 'Eczar', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.product-item__additional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.product-item__radio-group {
    display: flex;
    width: 288px;
    align-items: flex-start;
    gap: 24px;
}

.product-item__radio {
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-item__checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.product-item__text {
    color: var(--deep-blue, #023A6B);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}

.product-item__bottom {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.product-item__button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-item__button--text {
    color: var(--deep-blue, #023A6B);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 64px;
    border: 2px solid var(--yellow, #FFBD5C);
}

.pics {
    height: 220px;
    align-self: stretch;
}

.stamp {
    display: flex;
    width: 80px;
    height: 80px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.container {
    display: flex;
    align-items: center;
}

.container input[type="radio"],
.container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.product-item__radiomark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
}

.container input[type="radio"]:checked+.product-item__radiomark,
.container input[type="checkbox"]:checked+.product-item__checkmark {
    background-color: #FF7733;
}

.product-item__checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    background-color: #FF7733;
    border-radius: 50%;
    display: none;
}

.container input[type="radio"]:checked+.product-item__checkmark::after {
    display: block;
}

.product-item__checkbox-label {
    display: flex;
    align-items: center;
}

.product-item__checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    background-color: #fff;
}

@media (max-width: 1400px) {
    .content-wrapper {
        width: 80%;
      }
}

@media (max-width: 900px) {
    .content-wrapper {
        width: 90%;
      }
}


@media (max-width: 600px) {

    .navbar {
        display: flex;
        padding: 52px 24px 16px 24px;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        display: flex;
        width: 154px;
        height: 34px;
        justify-content: center;
        align-items: flex-start;
        gap: 5.31px;
        flex-shrink: 0;
    }

    .cart-text {
        display: none;
    }

    #slogan {
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 40px;
    }

    .product-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .product-item {
        display: flex;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }

    .product_name {
        font-size: 24px;
    }

}